*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/gradlew.bat
/gradlew
/.idea/gradle.xml
/.idea/compiler.xml
/settings.gradle
/gradle.properties
/build.gradle
/gradle/
/.idea/
/app/proguard-rules.pro
/app/.gitignore
/app/libs/
